body{
    font-family: 'Poppins', sans-serif;
}
h1{
    
    font-size: 55px;
    
}
.button{
    
    background-image: linear-gradient(green,black);
    color: whitesmoke;
    padding: 20px 20px;
    margin-top: 80px;
    font-size: 30px;
}
.first-section{
    
    margin-top: 10%;
    text-align: center;
    background-image: url(images/donation2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(28, 110, 22);
    height: 700px;
    margin-bottom: 10%;
    
}
#box1{
    border: 3px solid #fae903;
}
#box2{
    border: 3px solid #117204;
}
#box3{
    border: 3px solid #4e1b55;
}
#box4{
    border: 3px solid #0030ce;
}
#box5{
    border: 3px solid #03d7f3;
}

.p1{
    font-weight: 100px;
    color: rgba(253, 0, 0, 0.842);
    font-size: 30px;
    width: 25%;
  
}


    

.Third-hding-para{
    text-align: center;

}
.third-section-parent{
    display: flex;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
   
}
.section-three-paragraph{
    text-align: 30%;
    
}
.third-section-child{
    margin: 5%;
    align-items: justify;
    justify-content: center;
    box-shadow: 5px 5px 5px 5px green;
    padding: 50px 10px; 
    
}
#child-one{
    background-color: rgba(85, 77, 85, 0.452);
}
#child-two{
    background-color: rgba(156, 179, 74, 0.767);
}
#child-three{
    background-color: rgba(56, 97, 73, 0.616);
}
.para-adjustment{
    width: 25%;
    padding: 0% 40%;
    margin: 0% -3%;
    margin-top: -3%;
    margin-bottom:3%;
}
.second-section-child{
    margin: 2px;
    
    
   
    
}
.second-section-parent{
    
    display: flex;
    padding: 100px 30px 100px 30px;
    align-items: center;
    justify-content: center;
    
    
    
   
}
.donate-button{
    background-color: white;
    color: black;
    
    padding: 20px 30px;
    align-items: center;
    justify-content: center;

}
#donate-amount{
    border: none;
    width: 300px;
    font-size: 20px;
    margin-top: 5%;
    margin-left: 45%;
}
#rowline{
    width: 25%;
}
#b-position{
    margin: 0% 48%;
}
.subscribe-parent{
    display: flex;
    
    background-color: burlywood;
    padding: 60px 45px;
    font-size: 40%;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
}
#email{
    background-color: rgb(155, 231, 93);
    
}
.subscribe-child{
    background-image: linear-gradient(rgb(95, 167, 95),rgb(129, 0, 0));
    color: whitesmoke;
    padding: 20px 20px;
    margin-top: 80px;
    font-size: 30px;
}
#subscribe-child1{
    background-color: beige;
}
#subscribe-child2{
    background-color: blueviolet;
}

footer{
    text-align: center;
    
    background-color: black;
    height:100px;
}
.humble{
   font-style: italic;
   font-size: 20px;
    color: red;
    margin: 0%;
    font-family: "Sofia", sans-serif;
}
.doit{
    color: azure;
}
.video-section{
    margin-top: 15%;
    display: flex;
    margin-left: 5%;
    padding: 10px 10px;
    margin-bottom: 10%;
}
#campaign-text{
    margin-left: 5%;
    margin-top: -2.5%;
}
#campaign-heading{
    font-size: 55px;
}
.second-section{
    margin: 10% 0%;
}
.border-part{
    text-decoration: underline;
    margin: 0%;
}
.second-heading-margin{
    margin-top: 120px;
}
